streamlit # for building the web interface
numpy
pandas

#Face recognition libraries
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0 # to avoid compatibility issues with dlib
supabase # for database interactions
bcrypt # hashing passwords for security


segno # for generating QR codes
pillow # for image processing



librosa # for audio processing
resemblyzer # for voice recognition and analysis
